@import "tailwindcss";

@theme {
  /* New custom breakpoints add karo */
  --breakpoint-3xl: 130rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */
  --breakpoint-5xl: 200rem; /* 3200px */
  --breakpoint-6xl: 240rem; /* 3840px (8K) */
}

body {
  margin: 0;
  padding: 0;
}

.dashBtn {
  border: 2px solid;
  padding: 6px 8px !important;
  border-radius: 5px;
  background-color: rgb(60, 64, 160);
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .dashBtn {
    border: 2px solid;
    padding: 6px 10px !important;
    border-radius: 5px;
    background-color: rgb(60, 64, 160);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.dashBtn:hover {
  background-color: rgba(12, 17, 170, 0.623);
}

.themeBoxShadow {
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.15);
  /* box-Shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15); */
}

@layer utilities {
  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    /* background: transparent; */
    background-color: red;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b31212;
  }

  /* Hide scroll arrows (Chrome, Edge, Safari) */
  .custom-scrollbar::-webkit-scrollbar-button,
  .custom-scrollbar::-webkit-scrollbar-button:start:decrement,
  .custom-scrollbar::-webkit-scrollbar-button:end:increment {
    display: none;
    visibility: none;
    height: 0;
    width: 0;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}

/* .ant-table-body::-webkit-scrollbar {
  display: none;
}

.ant-table-body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
} */

.patientCardFont {
  font-family: "Playwrite NZ Basic", cursive;
  /* font-family: "Arimo", sans-serif; */
}

/* for antdesign table */

.row-deleted > td {
  background-color: #ffc2be !important;
}

.row-deleted:hover > td {
  background-color: #ffa8a0 !important;
}

.user-session-table .ant-table-thead > tr > th {
  background-color: #1677ff !important;
  color: #fff !important;
  font-weight: 600;
  border-bottom: none !important;
}

.user-session-table .ant-table-thead > tr > th::before {
  display: none !important;
}

.selected-row > td {
  background-color: #b3deff !important;
}
.selected-row:hover > td {
  background-color: #bae0ff !important;
}
